JavaApplicationClientews/xml-resources/web-service-references/HolaWebService/wsdl/localhost_8080/WebApplicationSoap/HolaWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.java.curso.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.java.curso.edu/" name="HolaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.java.curso.edu/" schemaLocation="http://localhost:8080/WebApplicationSoap/HolaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="reuperarPersonas">
<part name="parameters" element="tns:reuperarPersonas"/>
</message>
<message name="reuperarPersonasResponse">
<part name="parameters" element="tns:reuperarPersonasResponse"/>
</message>
<message name="reuperarPersona">
<part name="parameters" element="tns:reuperarPersona"/>
</message>
<message name="reuperarPersonaResponse">
<part name="parameters" element="tns:reuperarPersonaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="HolaWebService">
<operation name="reuperarPersonas">
<input wsam:Action="http://ws.java.curso.edu/HolaWebService/reuperarPersonasRequest" message="tns:reuperarPersonas"/>
<output wsam:Action="http://ws.java.curso.edu/HolaWebService/reuperarPersonasResponse" message="tns:reuperarPersonasResponse"/>
</operation>
<operation name="reuperarPersona">
<input wsam:Action="http://ws.java.curso.edu/HolaWebService/reuperarPersonaRequest" message="tns:reuperarPersona"/>
<output wsam:Action="http://ws.java.curso.edu/HolaWebService/reuperarPersonaResponse" message="tns:reuperarPersonaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.java.curso.edu/HolaWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.java.curso.edu/HolaWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="HolaWebServicePortBinding" type="tns:HolaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reuperarPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reuperarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolaWebService">
<port name="HolaWebServicePort" binding="tns:HolaWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplicationSoap/HolaWebService"/>
</port>
</service>
</definitions>